#newl{
    /* padding: 10px; */
    margin-bottom: 10px;
}
.card
{
    background-color: black;
    border: 2px solid black;
    color: blanchedalmond;
    padding: 10px;
}

.design{

    padding: 5px;
    margin: 10px;
}